# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Dataset:
dataset/

# Jupyter Notebook
.ipynb_checkpoints/
Untitled.ipynb
ipynb/Untitled*.ipynb

# vsccode
.vscode/

# old codes
src_old/

# outputs
outputs/

# Saved_model
saved_model

